{% extends '_base.html' %}
{% load i18n %}
{% load farsi_numbers_tags %}
{% load humanize %}


{% block title %}{{ case.title }}{% endblock %}

{% block content %}
    <img src="{{ case.cover.url }}" alt="" width="300" height="300">
    <h1>{% trans 'title' %}: {{ case.title|farsi_number }}</h1>
    <p>{{ case.description }}</p>
    <p>{% trans 'status' %}: {{ case.get_status_display }}</p>
    <p>{% trans 'maker' %}: {{ case.maker }}</p>
    <p>{% trans 'position' %}: {{ case.city }} - {{ case.region }}</p>
    <p>{% trans 'capacity' %}: {{ case.capacity|intcomma:False|farsi_number }}</p>
    <p>{% trans 'min of investment' %}: {{ case.base_value|intcomma:False|farsi_number }} {% trans 'tooman' %}</p>
    <p>{% trans 'meter' %}: {{ case.meter }}</p>
    <p>{% trans 'guaranteed gain' %}: {{ case.guaranteed_gain }}</p>
    <p>{% trans 'guaranteed gain percent' %}: {{ case.guaranteed_gain_percent|farsi_number }}</p>
    <p>{% trans 'buy assurance' %}: {{ case.buy_assurance }}</p>
    <p>{% trans 'end of the projct' %}: {{ case.end_time|farsi_number }}</p>
    <p>{% trans 'total price' %}: یک قیمتی</p>

{#    <form action="{% url 'cart:cart_add' case.id %}" method="post">#}
{#        {% csrf_token %}#}
{#        <div class="product-action d-flex align-items-sm-center align-content-center mb--30">#}
{#            <div class="quantity-wrapper d-flex justify-content-start">#}
{#                <div class="quantity">#}
{#                    {% render_field add_to_cart_form.number class="quantity-input" %}#}
{#                </div>#}
{#            </div>#}
{#            <button type="submit" class="btn btn-small btn-bg-red btn-color-white btn-hover-2" onclick="window.location.href='cart.html'">#}
{#                اضافه به سبد خرید#}
{#            </button>#}
{#        </div>#}
{#    </form>#}

{% endblock %}
