{% extends '_base.html' %}
{% load i18n %}
{% load farsi_numbers_tags %}
{% load humanize %}


{% block title %}{% trans 'Home' %}{% endblock %}

{% block content %}
    {% for case in cases %}
        <a href="{{ case.get_absolute_url }}"><img src="{{ case.cover.url }}" alt="" width="300" height="300"></a>
        <h2><a href="{{ case.get_absolute_url }}" style="text-decoration: none">{% trans 'title' %} {{ case.title|farsi_number }}</a></h2>
        <p>{% trans 'maker' %}: {{ case.maker }}</p>
        <p>{% trans 'position' %}: {{ case.city }} - {{ case.region }}</p>
        <p>{% trans 'min of investment' %}: {{ case.base_value|intcomma:False|farsi_number }} {% trans 'tooman' %}</p>
        <p>{% trans 'guaranteed gain percent' %}: {{ case.guaranteed_gain_percent|farsi_number }}</p>
        <p>{% trans 'end of the projct' %}: {{ case.end_time|farsi_number }}</p>
    {% endfor %}
{% endblock %}
