{% load i18n %}
<!doctype html>
<html  class="no-js" lang="">
<head>
    <!-- ************************* Meta tags ************************* -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home</title>

</head>

<body dir='rtl'>
    <h1>{% trans 'Home Ass' %}</h1>

{% block content %}
{% endblock %}

</body>
</html>




